body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

@media screen and (max-width: 600px) {
    nav {
        flex-direction: column;
    }

    .nav-items {
        
        flex-direction: column;
    }
}

.nav-items {
    display: flex;
    list-style-type: none;
}

.nav-items > li{
    margin-right: 20px;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
}

header {
    height: 550px;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-text {
    padding: 10px 20px;
}

/* header img {
    width: 100%;
    height: auto;
    position: relative;
} */

.facilitations {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.circle {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content{
    font-size: 14px;
    margin-top: 20px;
    flex-direction: row;
    display: flex;
}

.content > div {
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;
}

.table_person > th, td {
    border: 1px solid black;
}